@font-face {
	font-family: titleGameFont;
	src: url(../font/GAME_glm.ttf), format("ttf");
}

@font-face {
	font-family: mainGameFont;
	src: url(../font/Code.ttf), format(ttf);
}

:root {
	--background-button-confirm: #42414dc9;
	--background-player-board: #42414d85;
	--box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

body {
	margin: 0px;
	padding: 0px;
	color: white;
	font-size: 20px;
	font-family: mainGameFont;
	min-height: 100vh;
	background-image: linear-gradient(-180deg, #ff7509, #ffae28);
	display: flex;
	flex-direction: column;
	text-align: center;
}

h1 {
	font-family: titleGameFont;
	font-size: 70px;
	text-shadow: var(--box-shadow);
	color: white;
	text-align: center;
	justify-content: center;
}

p {
	font-size: 60px;
}

label {
	font-weight: bolder;
}

#container {
	display: flex;
	flex-direction: column;
}

#mainMessage {
	display: flexbox;
	align-items: center;
	justify-content: center;
}

#confirm {
	color: white;
	background-color: var(--background-button-confirm);
	border-radius: 5px;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	text-align: center;
	font-family: mainGameFont;
}

#confirm:hover {
	outline: 1px solid #b89cff;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.308);
}

#inputPlayerName {
	border: none;
	border-radius: 5px;
	padding: 3px 10px;
}

#welcomeMessage {
	font-size: 50px;
	margin: 20px;
}

#gameBoard {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}

#playerBoard,
#hostBoard {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: auto;
	margin: 30px;
	background-color: var(--background-player-board);
	border-radius: 20px;
	border: none;
	padding: 0px;
}

#resultMessage {
	display: flex;
}

#scoreBoard {
	display: flex;
	padding-top: 50px;
}

#playerScore {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	gap: 20px;
	align-items: center;
	text-align: right;
	max-height: 200px;
	margin-right: 20px;
}

#hostScore {
	display: flex;
	flex: 1;
	gap: 20px;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	text-align: left;
	max-height: 200px;
	margin-left: 20px;
}

img,
.sizeOfIcon {
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

.customScoreBox {
	display: flex;
	min-width: 200px;
	justify-content: center;
	align-items: center;
	min-height: 200px;
	border-radius: 20px;
	box-shadow: var(--box-shadow);
}

.valueScoreBox {
	display: flex;
	color: orange;
	font-size: 150px;
}
